h1 {
    text-align: center;
}

.Api-Routes>* {
    text-align: center;
    margin: 1vw;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
}

.RobloxUsername {
    text-align: left;
    margin: 1vw;
}